.list-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.one-card-list {
  position: relative;
  display: block;
  width: 128px;
  height: 300px;
}

.name-one-card-list {
  font-size: 14px;
  line-height: 1.2;
  color: $accent-color;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.date-one-card-list {
  font-size: 14px;
  line-height: 1.2;
  color: $secondaru-color;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
}

.location-one-card-list {
  display: block;
  font-size: 12px;
  line-height: 1.25;
  color: $secondaru-color;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}

.photo-one-card-list {
  border-radius: 50px 0px;
  height: 161px;
  width: 128px;
  margin-bottom: 5px;
}

.photo-one-card-list-shedow {
  position: absolute;
  height: 161px;
  width: 128px;
  top: 0;
  right: 0;
}
